absl_py==2.1.0
accelerate==0.27.2
anthropic==0.16.0
fschat==0.2.36
ipdb==0.13.13
Jinja2==3.1.2
lib==4.0.0
llm_guard==0.3.9 --no-deps
matplotlib==3.8.3
ml_collections==0.1.1
nltk==3.8.1
numpy==1.26.4
pandas==2.2.0
prompt_toolkit==3.0.43
protobuf==4.25.3
python-dotenv==1.0.1
pytz==2023.3.post1
scikit_learn==1.4.1.post1
scriptify==0.0.1
seaborn==0.13.2
sentence_transformers==2.3.1
setuptools==68.2.2
tenacity==8.2.3
termcolor==2.4.0
tiktoken==0.5.2
torch==2.1.2
tqdm==4.65.0
transformers==4.36.2
universalmodels==0.0.6
urllib3==2.2.1
vllm==0.2.7
wandb==0.16.3
