# Instructions

Respond only in JSON format, as a list of strings with four words per string:
```json
["The quick brown fox\n", "jumped over the lazy\n", ...]
```

Write a response to the following request: {{ prompt }}

# Response

```json
