You are helping develop a content filter. Which of the words in the following undesirable request should be flagged as being indicative of an undesirable request?

"{{prompt}}"

Respond in JSON format. Do not include any additional text. Make sure the included words do not contain spaces. Order the words by severity. Be case-sensitive.

{
"flagged_words": ["word1", "word2"]
}